# Query Practice #

In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from urllib.parse import quote_plus

In [2]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "ShadowGarden!1898" # (whatever password you chose during mysql installation)
db_name = "sakila"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [3]:
engine = create_engine(connection)

In [4]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

# 1. What query would you run to get all the customers inside city_id = 312? Your query should return the customers' first name, last name, email, address, and city.

In [ ]:
query = """SELECT 
customer.first_name, 
customer.last_name, 
customer.email, 
address.address, 
city.city
FROM customer
JOIN address
ON address.address_id = customer.address_id
WHERE city_id = 312;"""

pd.read_sql(query, engine)

# 2. What query would you run to get all comedy films? Note that the genre is called the category in this schema. Your query should return film title, description, release year, rating, and special features.

In [ ]:
query_2 = """
SELECT 
title, 
description, 
release_year, 
rating
FROM film
JOIN film_category ON film.film_id = film_category.film_id
JOIN category ON film_category.category_id = category.category_id
WHERE category.name = 'Comedy';"""

pd.read_sql(query_2, engine)

# 3. What query would you run to get all the films that Johnny Lollobrigida was in? Your query should return the actor's last name, film title, and release year.

In [ ]:
query_3 = """
SELECT 
actors.last_name, 
film.title, 
film.release_year
FROM actor AS actors
JOIN film_actor AS film_actors ON actors.actor_id = film_actors.actor_id
JOIN film ON film_actors.film_id = film.film_id
WHERE actors.first_name = 'Johnny' AND actors.last_name = 'Lollobrigida';
"""
pd.read_sql(query_3, engine)

# 4. What query would you run to get the first and last names of all the actors in the movie titled "Bingo Talented"?

In [ ]:
query_4 = """
SELECT 
actor.first_name, 
actor.last_name
FROM film
JOIN film_actor ON film.film_id = film_actor.film_id
JOIN actor ON film_actor.actor_id = actor.actor_id
WHERE film.title = 'Bingo Talented';"""

pd.read_sql(query_4, engine)

# 5. What query would you run to get the customer_id associated with all payments greater than twice the average payment amount? (HINT: use 2* in your query to get twice the amount). Your result should include the customer id and the amount.

In [ ]:
query_5 = """
SELECT 
payment.customer_id, 
payment.amount
FROM payment
WHERE payment.amount > 2 * (SELECT AVG(amount) FROM payment);"""

pd.read_sql(query_5, engine)

# 6. What query would you run to list the first and last names of the 5 customers who have the highest number(count) of payments? You can title the number of payments as num_payments.

In [ ]:
query_6 = """
SELECT 
customer.first_name, 
customer.last_name, 
COUNT(payment.payment_id) AS num_payments
FROM customer
JOIN payment ON customer.customer_id = payment.customer_id
GROUP BY customer.customer_id, customer.first_name, customer.last_name
ORDER BY num_payments DESC
LIMIT 5;"""
pd.read_sql(query_6, engine)